# Pré processamento base de dados do censu

In [1]:
import pandas as pd

In [2]:
DB = pd.read_csv('/Users/eraldomaia/Desktop/AnaliseDeDadosDoCensu/DataBase/census.csv')#Carregando o DataBase

In [3]:
pd.DataFrame(DB)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Transformação de variaveis catoricas em numericas

In [4]:
previsores = DB.iloc[:,0:14].values # Selecionando atributos previsores - Todas as linhas das colunas "age" até "native-country"
pd.DataFrame(previsores)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [5]:
classe = DB.iloc[:,14] #Selecionando atributos classificadores - Todas as linhas da coluna "income"
pd.DataFrame(classe)

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 1 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [7]:
labelencoder_previsores = LabelEncoder()

In [8]:
previsores[:,1] = labelencoder_previsores.fit_transform(previsores[:,1]) # Transformando os dados da coluna "workclass" de catoricos para numericos

In [9]:
pd.DataFrame(previsores)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,39,7,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,6,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,4,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,4,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,4,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,4,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,4,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,4,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,5,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [10]:
# Transformando os dados das colunas de catoricos dos previsores para numericos
previsores[:,3] = labelencoder_previsores.fit_transform(previsores[:,3])
previsores[:,5] = labelencoder_previsores.fit_transform(previsores[:,5])
previsores[:,6] = labelencoder_previsores.fit_transform(previsores[:,6])
previsores[:,7] = labelencoder_previsores.fit_transform(previsores[:,7])
previsores[:,8] = labelencoder_previsores.fit_transform(previsores[:,8])
previsores[:,9] = labelencoder_previsores.fit_transform(previsores[:,9])
previsores[:,13] = labelencoder_previsores.fit_transform(previsores[:,13])

In [11]:
pd.DataFrame(previsores)

        0  1       2   3   4  5   6  7  8  9     10 11  12  13
0      39  7   77516   9  13  4   1  1  4  1   2174  0  40  39
1      50  6   83311   9  13  2   4  0  4  1      0  0  13  39
2      38  4  215646  11   9  0   6  1  4  1      0  0  40  39
3      53  4  234721   1   7  2   6  0  2  1      0  0  40  39
4      28  4  338409   9  13  2  10  5  2  0      0  0  40   5
...    .. ..     ...  ..  .. ..  .. .. .. ..    ... ..  ..  ..
32556  27  4  257302   7  12  2  13  5  4  0      0  0  38  39
32557  40  4  154374  11   9  2   7  0  4  1      0  0  40  39
32558  58  4  151910  11   9  6   1  4  4  0      0  0  40  39
32559  22  4  201490  11   9  4   1  3  4  1      0  0  20  39
32560  52  5  287927  11   9  2   4  5  4  0  15024  0  40  39

[32561 rows x 14 columns]

In [12]:
#Transformando  as colunas categoricas com variveis "Dummy" - para os previsores
onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')

In [13]:
previsores = onehotencoder.fit_transform(previsores).toarray()

In [14]:
pd.DataFrame(previsores)

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,39.0,77516.0,13.0,2174.0,0.0,40.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,50.0,83311.0,13.0,0.0,0.0,13.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,38.0,215646.0,9.0,0.0,0.0,40.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,53.0,234721.0,7.0,0.0,0.0,40.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,28.0,338409.0,13.0,0.0,0.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,27.0,257302.0,12.0,0.0,0.0,38.0
32557,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,40.0,154374.0,9.0,0.0,0.0,40.0
32558,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,58.0,151910.0,9.0,0.0,0.0,40.0
32559,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,22.0,201490.0,9.0,0.0,0.0,20.0
32560,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,52.0,287927.0,9.0,15024.0,0.0,40.0

In [15]:
#Transformando as colunas categoricas dos classificadores para numericos
labelencoder_classe = LabelEncoder()

In [16]:
classe = labelencoder_classe.fit_transform(classe)

In [17]:
pd.DataFrame(classe)

       0
0      0
1      0
2      0
3      0
4      0
...   ..
32556  0
32557  1
32558  0
32559  0
32560  1

[32561 rows x 1 columns]

## Escalonamento dos atributos

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()

In [20]:
previsores = scaler.fit_transform(previsores)

In [21]:
pd.DataFrame(previsores)

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,-0.24445,-0.174295,-0.262097,-0.014664,-1.516792,-0.188389,-0.290936,4.907700,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429
1,-0.24445,-0.174295,-0.262097,-0.014664,-1.516792,-0.188389,3.437186,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153
2,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429
3,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429
4,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,-2.932948,-0.045408,-0.022173,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409
32557,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429
32558,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429
32559,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225
32560,-0.24445,-0.174295,-0.262097,-0.014664,-1.516792,5.308156,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429

## Divisão de base de dados em treinamento e teste

In [22]:
# Utilizaremos 25% da base de dados para teste (test_size=0.25)

from sklearn.model_selection import train_test_split
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.25, random_state=0)

In [24]:
pd.DataFrame(previsores_treinamento)

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,1.496922,-1.211704,-0.808759,-0.145920,-0.21666,-0.440378
1,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,2.376673,-0.085699,1.523438,-0.145920,-0.21666,-1.655225
2,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.250608,-0.777050,1.523438,-0.145920,-0.21666,-0.035429
3,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-0.922393,-1.457733,-0.420060,-0.145920,-0.21666,-0.035429
4,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,-2.932948,-0.045408,-0.022173,0.543859,0.632351,-3.140957,-0.145920,-0.21666,-0.035429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24415,-0.24445,-0.174295,3.815376,-0.014664,-1.516792,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.323921,-1.482234,1.523438,-0.145920,-0.21666,-0.035429
24416,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,5.822306,...,-0.024163,0.340954,-0.045408,-0.022173,0.397233,-0.865124,-1.586158,-0.145920,-0.21666,-0.440378
24417,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-1.142331,-1.368675,-0.031360,-0.145920,-0.21666,-0.035429
24418,-0.24445,-0.174295,3.815376,-0.014664,-1.516792,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.470546,0.247125,2.300838,0.895083,-0.21666,0.369519
24419,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-0.995706,-0.027034,-0.031360,0.205730,-0.21666,0.612489

In [25]:
pd.DataFrame(previsores_teste)

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,-0.244450,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-0.849080,-0.119939,-0.031360,-0.14592,-0.216660,0.288530
1,-0.244450,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-0.849080,0.252990,1.134739,-0.14592,-0.216660,-0.035429
2,-0.244450,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-0.995706,0.629897,0.746039,-0.14592,-0.216660,-0.035429
3,-0.244450,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.543859,-0.399233,-2.752257,-0.14592,4.503482,-0.035429
4,-0.244450,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.470546,-0.160650,-1.197459,-0.14592,6.791584,2.880202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8136,-0.244450,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-1.288956,0.453561,-0.031360,-0.14592,-0.216660,-0.440378
8137,4.090813,-0.174295,-0.262097,-0.014664,-1.516792,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,1.790173,-1.187421,-0.420060,-0.14592,-0.216660,-0.035429
8138,-0.244450,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,-2.932948,-0.045408,-0.022173,-0.042642,0.373835,-0.420060,-0.14592,-0.216660,-0.035429
8139,-0.244450,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,1.790173,0.220909,1.134739,-0.14592,-0.216660,0.774468
8140,-0.244450,-0.174295,3.815376,-0.014664,-1.516792,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,-2.932948,-0.045408,-0.022173,0.617171,-0.035712,-0.031360,-0.14592,-0.216660,-0.197409

In [26]:
pd.DataFrame(classe_treinamento)

       0
0      0
1      0
2      1
3      0
4      0
...   ..
24415  1
24416  0
24417  0
24418  1
24419  0

[24420 rows x 1 columns]

In [27]:
pd.DataFrame(classe_teste)

      0
0     0
1     0
2     0
3     0
4     1
...  ..
8136  0
8137  0
8138  0
8139  1
8140  0

[8141 rows x 1 columns]